* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

// https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff
:root {
    --custBlack: #000;
    --custBlue: #14213d;
    --custOrange: #fca311;
    --custLightGray: #e5e5e5;
    --custWhite: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Global Classes
.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--custWhite);
}

header {
    background: var(--custBlue);
    padding: 6px 3%;
    color: var(--custWhite);
    margin-bottom: 35px;

    nav {
        p.header-username {
            margin-right: 15px;
        }

        a {
            color: var(--custWhite);
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}

main {
    padding: 0 3%;
}

.landing {

    h1,
    h3 {
        margin-bottom: 25px;
    }
}

form {
    width: 400px;
    margin: 20px auto 0;

    &.dashboard-form {
        margin-bottom: 25px;

        h2 {
            margin-bottom: 15px;
        }
    }

    p.error-message {
        text-align: center;
        margin-bottom: 10px;
        color: red;
    }

    input,
    button {
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    button {
        border: none;
        padding: 8px 10px;
        font-size: .98rem;
        background: var(--custOrange);
        color: var(var(--custWhite));
    }
}

.notes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    .note {
        padding: 10px;
        border: 1px solid #333;

        p {
            margin: 4px 0;
        }
    }
}